html,
body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;/*только почему то не центрируется?*/
}
.main-header{
    min-height: 55px;
    background-color: antiquewhite;
}
.main-navigation ul{
    display: flex;
}
.main-navigation li{
    margin: 0;
    width: 239px;
    text-align: center;
    min-height: 55px;
    border: 1px solid;
    /*как сделаь лого по серед на флексах?*/
}
.main-navigation a{
    text-decoration: none;/*как убрать эти точки неупоряд списка?*/
}
.main-image{
    background: url("img/backgroundphoto.jpg") no-repeat;/*не получилось*/
    background-size: 1200px auto;
}
.subtitle{
    min-height: 218px;
    text-align: center;
    padding-top: 55px;
}
.advantages-item{
    display: flex;
}
.advantages-description{
    width: 400px;
    min-height: 255px;
    text-align: center;
    background-color: antiquewhite;/* как сделаь так что бы текст был в по середине по вертикали?*/
}
.advantages-image{
    width: 800px;
    min-height: 255px;
}
.advantages-icon div{
    min-height: 330px;
    text-align: center;
    width: 400px;
    padding-top: 55px;
}
.hotel-title{
    min-height: 290px;
    text-align: center;
    padding-top: 55px;
}
.title-form{
    min-height: 85px;
    width: 575px;
    background-color: burlywood;
    display: inline-block;
    /*как сделать наждпись по центру по вертикали?
    как сделать так что бы он прижался к низу? 
    как сделать так что бы паддинги включались в мин высоту?*/
}
.hotel-map{
    min-height: 475px;
    background-color: aquamarine;
    padding: 0;
}
.hotel-form{
    min-height: 395px;
    width: 575px;
    background-color: azure;
    margin: 0 auto;
}
.hotel-map form{
    display: flex;
    flex-direction: column;
    /*как сделать взрослые и дети на одной строке?*/
}
.footer{
    display: flex;
    min-height: 120px;
}
.footer-item{
    width: 400px;
    text-align: center;
}

/*Sedona-hotels.html*/
.choice{
    display: flex;
    min-height: 220px;
}
.choice-infrastruktura{
    width: 312px;
    text-align: center;
}
.choice-type{
    width: 288px;
    text-align: center;
}
.choice-price{
    width: 600px;
    text-align: center;
}
.found{
    min-height: 86px;
}
.found ul{
    display: flex;
}
.found li{
    margin-left: 20px;
}
.found-hotels{
    display: flex;
    min-height: 150px;
    margin-bottom: 60px;
}
.found-hotels-img{
    margin-left: 73px;
}
.found-hotels-dtscription{
    margin-left: 30px;
}
.found-hotels-valuation{
    margin-left: 530px;
}
