html,
body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Sans Bold", sans-serif;
    font-size: 14px;
    min-width: 1280px;
    background-color: #f2f2f2;
    text-transform: uppercase;
    color: #000;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.main-header ul{
    padding: 0;
    margin: 0;
}
.main-navigation li:nth-child(1){
    float: left;
}
.main-navigation li:nth-child(2){
    float: left;
}
.main-navigation li:nth-child(3){
    float: right;
}
.main-navigation li:nth-child(4){
    float: right;
}
.main-navigation li{
    display: inline-block;
    width: 239px;
    text-align: center;
    min-height: 56px;
    padding-top: 20px;
}
.main-navigation a{
    text-decoration: none;
}
.main-header{
    position: relative; 
    background-color: #fff;
    min-height: 56px;
    font-family: "Sans Bold", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1px;
}
.main-header .logo{
    position: absolute;
    left: 530px;
}
.main-image{
    background: url("../img/backgroundmainimg.jpg") no-repeat;
    background-size: 1200px auto;
    min-height: 510px;
}
.main-image-subtitle{
    width: 576px;
    margin-left: 370px;;
    padding-top: 78px;
}
.subtitle{
    min-height: 175px;
    text-align: center;
    padding-top: 40px;
    background-color: #fff;
    margin: 0;
}
.subtitle h2{
    font-family: "Sans Bold", sans-serif;
    font-weight: 500;
    font-size: 21px;
}
.subtitle p{
    font-family: "Sans Italic", sans-serif;
    font-size: 14px;
    margin-top: 40px;
}
.advantages-item{
    display: flex;
    margin-top: -15px;
}
.advantages-item-bold{
    font-family: "Sans Bold", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #fff;
    padding-top: 30px;
}
.advantages-item-Regular{
    font-family: "Sans Regular", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    
}
.advantages-description{
    width: 400px;
    min-height: 275px;
    text-align: center;
    background-color: #81b3d2;
    margin: 0;
}
.advantages-image{
    width: 800px;
    min-height: 275px;
}
.advantages-icon div{
    min-height: 285px;
    text-align: center;
    width: 400px;
    padding-top: 55px;
    background-color: #fff;
}
.advantages-square div{
    background: #f2f2f2;
    min-height: 200px;
}
.hotel-title{
    text-align: center;
    padding-top: 55px;
    background-color: #fff;
}
.title-form{
    min-height: 85px;
    width: 575px;
    background-color: burlywood;
    display: inline-block;
    /*как сделать наждпись по центру по вертикали?
    как сделать так что бы он прижался к низу? 
    как сделать так что бы паддинги включались в мин высоту?*/
}
.hotel-map{
    min-height: 475px;
    background-color: aquamarine;
    padding: 0;
}
.hotel-form{
    min-height: 395px;
    width: 575px;
    background-color: azure;
    margin: 0 auto;
}
.hotel-map form{
    display: flex;
    flex-direction: column;
    /*как сделать взрослые и дети на одной строке?*/
}
.footer{
    display: flex;
    min-height: 120px;
    background-color: #fff;
    opacity: 0,5;
}
.footer-item{
    width: 400px;
    text-align: center;
}

/*Sedona-hotels.html*/
.choice{
    display: flex;
    min-height: 220px;
}
.choice-infrastruktura{
    width: 312px;
    text-align: center;
}
.choice-type{
    width: 288px;
    text-align: center;
}
.choice-price{
    width: 600px;
    text-align: center;
}
.found{
    min-height: 86px;
}
.found ul{
    display: flex;
}
.found li{
    margin-left: 20px;
}
.found-hotels{
    display: flex;
    margin-bottom: 60px;
}
.found-hotels-img{
    margin-left: 73px;
}
.found-hotels-dtscription{
    margin-left: 30px;
}
.found-hotels-valuation{
    margin-left: 530px;
}
